<a href="https://colab.research.google.com/github/shubhamcoder260/pythonwithsk/blob/main/problems_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def factorial(n):
  if n==0 or n==1:
    return 1
  else:
    return n*factorial(n-1)
print(factorial(3))

6

In [ ]:
n=int(input('enter any number'))
if n%2==0 and n%3==0 and n%5==0:
  print('not prime')
else:
  print('prime')

enter any number36
prime

In [ ]:
total=1
n=int(input('enter a number'))
for i in range(n+1):
  total+=i
print(total)

enter a number3
7

In [ ]:
def fibonacci_series(n):
    series =[]
    a, b = 0,1
    while a<=n:
        series.append(a)
        a,b=b,a+b
    return series

print(fibonacci_series(3))

[0, 1, 1, 2, 3]

In [ ]:
text='my name is pushpa chaudhary and i am a ad student and i dont like studying and hareram is gay'
print(text.count())

1

In [ ]:
lis=[1,44,65,3,4,5,78]
lis.sort()
print(lis)

[1, 3, 4, 5, 44, 65, 78]

In [ ]:
matrix=[
    [1,2,3]
    [3,4,5]
    [5,6,7]
]
print(matrix)